
.navbar-custom-font{
    font-family: 'Odibee Sans', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size:60px;
}

.grid {
    background-color: white;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.grid-container {
    display: grid;
    background-color: white;
    padding: 60px;
    grid-template-columns: 62px 62px 62px 62px 62px;
    grid-template-rows: 62px 62px 62px 62px 62px 62px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    justify-content: center;
}

.grid-item {
    background-color: #212529;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    height: 62px;

}

.grid-item-custom-color{
    color: white;
}

.woodlefont{
    font-family: 'Odibee Sans', 'cursive';
    font-family: 'Orbitron', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.clockfont{
    position: relative;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
  }

  .clock{
      position: relative;
      height: 60px;
      width: 60px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 15%;
  }

  .custom-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .custom-container * {
  color: grey;
  }